<html>

<head> </head>

<body>

  <ul>

<h1> Search for   <%= @date %> </h1>

<% @listings.each do |listing|%>

   <%  if listing.date == @date %>
          <div>
            <li>  <%=listing.name %> </li>
            <li> " <%=listing.description %> " </li>
            <li>  £<%=listing.price %> </li>
            <li> <%=listing.date %> </li>
            <form action="/bookings/new" method = "get" >
              <button type ="submit" value = "<%listing.id%>" > Request Booking </button>
            </form>
          </div>

      <% end  %>
<% end %>

</ul>



</body>

</html>
