<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account</title>
  </head>
  <body>
    <div class="row">
      <% if @user %>
      <h1>Welcome <%= current_user.username %></h1>
      <div class="col-lg-4">
        <h2> Your listed homes </h2>
          <% @homes.each do |home|%>
          <div>
            <li>  <%=home.name %> </li>
            <li> " <%=home.description %> " </li>
            <li>  £<%=home.price %> </li>
            <li> <%=home.date %> </li>
              <% end %>
      </div>
    </div>
      <div class="col-lg-4">
        <h2> Requests for your homes: </h2>
          <% @homes.each do |home|%>
          <% booked_home = home.booking %>
            <% booked_home.each do |booked|%>
            <% if booked.confirmed == false %>
                <% hotel = Listing.get(booked.listing_id) %>
                <% guest = User.get(booked.user_id) %>
          <li>  <%=hotel.name %> </li>
          <li> <%=hotel.date %> </li>
          <li> Booked by: <%= guest.first_name%> <%= guest.last_name%> </li>

          <form action="/bookings/confirm" method = "post" >
            <button type ="submit" name="confirm_booking" value="<%=booked.id%>" > Confirm Booking </button>
          </form>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <div class="col-lg-4">
        <h2>Your bookings:</h2>
      </div>
      <% else %>
      You are not signed in:
      <form action="/users/sign_in" method="post">
        <input type="text" name="email" placeholder="email address">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="Sign in">
      </form>
      <% end %>
    </div>
  </body>
</html>
