<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account</title>
  </head>
  <body>
    <div class="row">
      <h1>Welcome <%= current_user.username %></h1>
      <div class="col-lg-4">
        <h2> Your listed homes </h2>
            <% @listings.each do |listing| %>
            <div id="listing_<%=listing.id%>">
              <li>  <%=listing.name%> </li>
              <li> " <%=listing.description%> " </li>
              <li>  £<%=listing.price%> </li>
                <% listing.days.each do |day|  %>
                  <li><%= day.date %></li>
                <% end %>
              <form id="listing_<%=listing.id%>_availability" action="/listings/add_availability" method="post">
                  <input type="date" name="available_date" min="" value="2016-09-16">
                  <input type="hidden"  name="listing_id" value="<%=listing.id%>">
                  <button type="submit" name="Add_availability">Add availability</button>
              </form>
            </div>
            <%end%>
    </div>

      </div>
      <div class="col-lg-4">
        <h2>Your bookings:</h2>
      </div>
  </body>
</html>
