<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account</title>
  </head>
  <body>
    <% if @user %>
    <h1>Welcome <%= current_user.username %></h1>
      <ul>
        <% @listings.each do |listing|%>
      <div>
        <li>  <%=listing.name %> </li>
        <li> " <%=listing.description %> " </li>
        <li>  £<%=listing.price %> </li>
        <li> <%=listing.date %> </li>
        <li> <%@list_id = listing.id %> </li>
        <form action="/bookings/new" method = "post" >
          <button type ="submit" name="listing_id" value ="<%=listing.id%>" > Request Booking </button>
        </form>
        <% end %>
      </div>
    </ul>
    <% else %>
      You are not signed in:
      <form action="/users/sign_in" method="post">
        <input type="text" name="email" placeholder="email address">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="Sign in">
      </form>



    <% end %>
  </body>
</html>
