<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listings</title>
  </head>
  <body>
    <h3>Find a new place to cry yourself to sleep</h3>
<br>
    <form action="/" method "get" >
      <button type="submit"> Home </button>
    </form>
</br>


<form action="/listings/search" method = "get" >
  <input type ="text" name="date">
  <button type="submit"> submit </button>
</form>

<br>

  <%if @listings %>
    <p>
      <ul>
    <% @listings.each do |listing|%>
    <div id='listing_<%=listing.id%>'>
      <li>  <%=listing.name %> </li>
      <li> " <%=listing.description %> " </li>
      <li>  £<%=listing.price %> </li>
      <%listing.days.each do |day|%>
        <li><%=day.date.strftime('%d %b %Y')%></li>
      <% end  %>
      <form action="/bookings/new" method = "post" >
        <button type ="submit" name="listing_id" value ="<%=listing.id%>" >Request Booking</button>
      </form>
    </div>
    <% end  %>
    </ul>
  </p>
  <% end %>


<form action="/listings/new" method = "get" >
  <button type ="submit"> Add new listing </button>
</form>



  </body>
</html>
